:root {
  /* ghost white */
 --background: #F8F8FF;

   --secondcolor:#232B2B;

   --thirdcolor:#f0eeee;
  }

@font-face {
    font-family: poppins;
    src: url(../fonts/poppins.ttf);
  }

  @font-face {
    font-family: opensans;
    src: url(../fonts/open-sans.ttf);
  }

  .home-link{
    font-family: opensans;
    font-size: 25px;
  }

  .profile-name{
    font-family: poppins;
  }




.icon{
    width: 50px;
    height: 50px;
}

.home-navgroup{
    border-right: solid #232B2B 1px;
}

h1{
    font-family: opensans;
   color: var(--secondcolor);;
}

.create-form .my-btn{
    border-radius: 0px !important;
    border:  1px solid black !important;
    transition-duration: 0.4s;
    background-color: #f8f5f4;
    text-decoration: none !important;
    color: black !important;
  }
  
  .my-btn:hover {
    background-color: black !important;
    color: white !important;
  }

  .link-container {
    display: inline-block;
    transition: transform 0.1s ease-in-out;
}


.link-container:hover #icon-path {
    stroke: #f8f5f4; 
    fill: black; 
}

input[type="email"],
input[type="password"],
input[type="text"],
select.form-control {
  background: var(--background);
  border: none; 
  box-shadow: none;
  border-radius: 0; 
  padding: 10px; 
}

input[type="email"]:focus,
input[type="password"]:focus,
select.form-control:focus {
  background: var(--background);
}
label,.btn{
    font-family: poppins !important;
  }

  x-splade-form input {
    border-width: 1px 0 0 0 !important; 
  }
  
  
  x-splade-form input {
    box-shadow: none;
    border-radius: 0;
    background: var(--background);
  }

  input.block.w-full.border-0.focus\:border-indigo-300.focus\:ring.focus\:ring-indigo-200.focus\:ring-opacity-50.disabled\:opacity-50.disabled\:bg-gray-50.disabled\:cursor-not-allowed.rounded-md {
    border: none;
    border: 1px solid black; 
    padding: 5px 0; 
    background-color: #f8f5f4;
}

.my-btn-2{
    border-radius: 0px !important;
    border:  1px solid #232B2B !important;
    transition-duration: 0.4s;
    background-color: var(--background);
    text-decoration: none !important;
    color: #232B2B !important;
    padding: 10px;
  }
  
  .my-btn-2:hover {
    background-color: #232B2B !important;
    color: white !important;
  }


  .navlink {
    font-size: 30px;
    color: var(--secondcolor);
    font-family: opensans;
    border-bottom: 2px solid transparent; /* Initially transparent border bottom */
    transition: border-color 0.9s; /* Smooth transition for border color change */
    position: relative; /* Needed for absolute positioning of pseudo-element */
  }
  

/* nav dropdown */

.mt-2.w-48.rounded-md.shadow-lg.ring-1.ring-black.ring-opacity-5.py-1.bg-white {
  background-color: #10100e;
  border-radius: 0;
}

.block.px-4.py-2.text-sm.leading-5.text-gray-700.hover:bg-gray-100.focus\:outline-none.focus\:bg-gray-100.transition.duration-150.ease-in-out.drop-text.mt-0.pt-0.heading1.text-texttheme {
  border-radius: 0;
}


Link:after {
  display:block;
  content: '';
  border-bottom: solid 3px black;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
Link:hover:after { transform: scaleX(1); }

.navlink:after {

  bottom: 0;
  left: 0;
}

.card {
  background-color: var(--background);
  border: 1px solid #232B2B;
 
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  width: 100%;
  height: 430px;
  display: block;
  border-bottom: 1px solid var(--background);
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.card-price {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card {
  position: relative; /* Make the card container a positioned parent for absolute positioning */
}

.card-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Initially hide the buttons */
}

.card:hover .card-buttons {
  display: flex; /* Show the buttons when card is hovered */
}

.card-buttons img {
  width: 24px; /* Adjust the width of the button icons */
  height: 24px; /* Adjust the height of the button icons */
}

.card:hover .card-img-top {
  filter: blur(2px); /* Apply a slight blur to the image */
}

.prodcard-body{
  background-color: var(--background);
}

.no-right-border {
  border-right: none; 
}

.additional-text {
  margin-right: 13px;
   font-size: 13px;
 }
 












